$itemwidth: 100%;
$imgsize: 5rem;
$btn-border-radius: 5px;
$btn-padding: 0.5rem 1rem;
$expand-btn-size: 60px;
$standard-value: 1rem;
$large-width: 4vw;
$small-margin: 0.5rem;
$large-height: 5.4rem;

// colors
$primary-color:#f6545a;
$secondary-color:#303f47;
$linear-gradient: linear-gradient(45deg, #e66465, #9198e5);
$button-primary:rgb(93, 98, 254);
$bright-text : whitesmoke;

//breakpoints
$tablet:768px;
$lg:992px;
$desktop:1200px;
$desktopXL:1600px;
